// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
html, body {
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    overflow-y: scroll;
}

.btn {
  border-radius: 100px;
  border: 2px solid;
  padding-left:40px;
  padding-right:40px;
  height:55px;
  min-width:250px;
  transition: 1s all cubic-bezier(.55,0,.1,1);

  @media (max-width: 1024px) {
    width:75%;
  }
}

.btn-primary{
  background-color: white;
  border-color: white;
  color:black;
}

.btn-primary:hover{
  opacity:.5;
  background-color: white;
  border-color: white;
  color:black;
  padding-right:18px;
  padding-left:18px;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0 rgba(111,82,255,0);
    box-shadow: 0 0 0 0 rgba(111,82,255,0);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}

.btn-secondary{
  background-color: transparent;
  border-color: white;
  color:white;
  transition: 1s all cubic-bezier(.55,0,.1,1);
}

.btn-secondary:hover{
  opacity:.5;
  background-color: transparent;
  border-color: white;
  color:white;
  padding-right:18px;
  padding-left:18px;
}

.btn-tertiary{
  background-color: black;
  border-color: black;
  color:white;
  transition: 1s all cubic-bezier(.55,0,.1,1);
}

.btn-tertiary:hover{
  opacity:.5;
  background-color: black;
  border-color: black;
  color:white;
  padding-right:18px;
  padding-left:18px;
}

.btn-primary img{
  height: 10px;
  padding-left: 10px;
  opacity:100%;
}

.btn-secondary img{
  height: 10px;
  padding-left: 10px;
}

.btn-tertiary img{
  height: 10px;
  padding-left: 10px;
}

.container-fluid {
    padding: 0px;
}

ul{
  padding-left:0;
}

li {
  text-decoration: none;
  display: block;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

.svgContainer{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#title {
  width: 100%;
  text-align: center;

  text tspan{
  font-size: calc(100px + 8vw);
  font-weight: 700;
  letter-spacing: -12px;
  line-height: .8;

    @media (max-width: 1024px) {
      font-size: calc(100px + 4vw);
      letter-spacing: -8px;
    }

  }

  #title-two {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
}

.display-1 {
  font-size: calc(100px + 8vw);
  font-weight: 700;
  letter-spacing: -12px;
  line-height: .8;

  @media (max-width: 1024px) {
    font-size: calc(100px + 4vw);
  }
}

.display-2 {
  font-size: calc(60px + 2vw);
  font-weight: 700;
  letter-spacing: -4px;
  line-height: 1;
  padding-bottom:20px;
}

.display-3 {
  font-size: calc(8px + 1.5vw);
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.1;

 }

.display-4 {
  font-size: 16px;
  font-weight: 700;
  line-height:0;

}

p{
  padding-top:5px;
  padding-bottom:5px;
}

//colors
.white{
  color:white;
}

.black{
  color:black;
}

.hero{
  height: 810px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;

  .row{
    height:100%;
  }

  .grid {
      column-count: 2;
      column-gap: 40px;
      height:180px;

      p {
        padding-top:0 !important;
      }
  }

  .hero-component-title{
    align-items: flex-end;
    display: flex;
    padding-top:150px;
    margin-left:0;
    margin-right:0;

    #projects{
      text-align: right;
    }
  }

  .hero-component{
    align-items: flex-end;
    display: flex;

    h4{
      max-width: 300px;

      @media (max-width: 1024px) {
        max-width: 240px;
      }

    }
  }

  .hero-component-two{
    align-items: flex-start;
    display: flex;

    h4{
      max-width: 300px;

      @media (max-width: 1024px) {
        max-width: 240px;
      }

    }
  }

  .hero-component-description{
    padding-top:200px;
  }
}



#wrapper-navbar{

  nav{
      padding: .5rem 2rem;
      height: 90px;
      border-bottom: 1px solid black;
      background:white;
  }
}

.sponsor{
  width:150px;
}

.section-title{
  padding-bottom: 90px;
}

.about--section{
  background:black;
  height:auto;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
}

.about--image{
  justify-content: flex-end;
  display: flex;
  width:100%;
  height:auto;
}

.about--buttons{
  padding-top:30px;

  & .btn{
    margin-top:10px;
    margin-right:10px;
  }
}

.projects--section{
  background:black;
  height:auto;
  width: 100%;

}

.projects--project{
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  min-height: 910px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000c7;
  background-blend-mode: soft-light;

  & .row{
      height: 100%;
      width: 100%;
  }

  & .project{
    position: relative;
    display: flex;
    flex-direction: column;
    height:100%;
    justify-content: center;
  }
}

.project--deadline{
  padding-top:40px;
}

.project--description{
  & p{
    padding-bottom:30px;
    color:white;
  }
}

.sidebar.affix{
    position:fixed;
    top:0;
    right:0;
}

.projects--list{
    position: relative;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
.swiper-slide {
  width: 100%;
  height: 710px;
}

.submission--section{
  background:white;
  height:auto;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
}

.submission--image{
  justify-content: flex-end;
  display: flex;
  width:100%;
  height:auto;
}

.submission--buttons{
  padding-top:60px;

  & .btn{
    margin-top:10px;
    margin-right:10px;
  }
}
