// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.container-fluid {
    padding: 0px;
}

ul{
  padding-left:0;
}

li {
  text-decoration: none;
}

.svgContainer{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.brief_featured_image{
  width:100%;
}

#title {
  width: 100%;
  text-align: center;

  text tspan{
  font-size: calc(100px + 8vw);
  font-weight: 700;
  letter-spacing: -12px;
  line-height: .8;

    @media (max-width: 1024px) {
      font-size: calc(100px + 4vw);
      letter-spacing: -8px;
    }

  }

  #title-two {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
}

.display-1 {
  font-size: calc(100px + 8vw);
  font-weight: 700;
  letter-spacing: -12px;
  line-height: .8;

  @media (max-width: 1024px) {
    font-size: calc(100px + 4vw);
  }
}

.display-2 {
  font-size: calc(60px + 2vw);
  font-weight: 700;
  letter-spacing: -4px;
  line-height: 1;
  padding-bottom:20px;
}

.display-3 {
  font-size: calc(12px + 1.5vw);
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.1;

 }

.display-4 {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.1;

}

p{
  padding-top:10px;
  padding-bottom:10px;
}

//colors
.white{
  color:white;
}

.black{
  color:black;
}

.hero{
  height: 810px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;

  .row{
    height:100%;
  }

  .grid {
      column-count: 2;
      column-gap: 40px;
      height:180px;

      p {
        padding-top:0 !important;
      }
  }

  .hero-component-title{
    align-items: flex-end;
    display: flex;
    padding-top:150px;
    margin-left:0;
    margin-right:0;

    #projects{
      text-align: right;
    }
  }

  .hero-component{
    align-items: flex-end;
    display: flex;

    h4{
      max-width: 300px;

      @media (max-width: 1024px) {
        max-width: 240px;
      }

    }
  }

  .hero-component-two{
    align-items: flex-start;
    display: flex;

    h4{
      max-width: 300px;

      @media (max-width: 1024px) {
        max-width: 240px;
      }

    }
  }

  .hero-component-description{
    padding-top:200px;
  }
}



#wrapper-navbar{

  nav{
      padding: .5rem 2rem;
      height: 90px;
      border-bottom: 1px solid black;
      background:white;
  }
}

.sponsor{
  width:150px;
}

.section-title{
  padding-bottom: 90px;
}

.about--section{
  background:black;
  height:auto;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
}

.about--image{
  justify-content: flex-end;
  display: flex;
}
